<section class="prose">
  <p>
    Welcome to Cats with power tools, a collaborative programmer blog built with <a
      href="https://astro.build/">Astro</a
    >. We share insights, tutorials, and experiences from our programming adventures.
  </p>
  <p>
    Visit us at <a href="https://blog.exploit.cat/"
      >blog.exploit.cat</a
    > to explore our latest articles and collaborative projects.
  </p>
  <h1 class="mt-8 mb-3 text-lg font-bold">Key features</h1>
  <ul>
    <li>
      <strong>Fast by default: </strong>Leverage the power of Astro, Tailwind
      CSS, and Markdown to create fast, lightweight web pages.
    </li>
    <li>
      <strong>Minimal and customizable: </strong>Solid foundation to build upon
      and meet your unique needs. Zero frameworks installed.
    </li>
    <li>
      <strong>SEO-friendly: </strong>Sitemap, an <a href="/rss.xml">RSS feed</a
      >, and Open Graph protocol support out of the box.
    </li>
    <li>
      <strong>Accessible to all: </strong>System, dark, and light mode support.
      Keyboard navigation and semantic HTML.
      standards.
    </li>
  </ul>
</section>
