---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Introduction from "@/parts/Introduction.astro";
import Posts from "@/parts/Posts.astro";
import Projects from "@/parts/Projects.astro";
import SeoPage from "@/components/SeoPage.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    <Introduction />
    <div class="flex flex-col gap-5 mt-10">
      <Posts />
      <Projects />
    </div>
  </div>
</BaseLayout>
