---
import { formatDate } from "@/lib/util";

const { post } = Astro.props;
---

<li>
  <a
    href={`/blog/${post.id}`}
    class="flex w-full flex-col sm:flex-row sm:items-center sm:justify-between"
  >
    <span class="link">{post.data.title}</span>
    <div
      class="text-muted-text dark:text-dark-muted-text text-sm font-normal"
    >
      {formatDate(post.data.publicationDate)}
    </div>
  </a>
</li>
